{% extends 'base.html' %}
{% load static %}

{% block title %}ASZM-İletişim {% endblock title %}

{% block content %}
<br/><br/>
 <!-- CONTACT
        ===============================================================-->
        <section class="bg-white">
            <div class="container">
                <div class="row wow fadeIn">
                    <div class="col-md-12">
                        <div class="title">
                            <h2>İLETİŞİME GEÇİN</h2>
                        </div>
                    </div>
                    <!-- CONTACT INFO -->
                    <div class="col-sm-12 col-md-5 cinfo">
                        <div id="map-canvas">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3004.0073050537676!2d27.80875508487953!3d41.15619193639513!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14b4e6d8cb663657%3A0xefe84ef4f69e7b82!2sKaz%C4%B1miye%2C%20Salih%20Omurtak%20Cd.%2C%2059860%20%C3%87orlu%2FTekirda%C4%9F!5e0!3m2!1str!2str!4v1697571403986!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                        <address>
                            <p><i class="fa-solid fa-map-marker"></i> Kazımiye mah. Salih omurtak cad. - Çorlu, Tekirdağ</p>
                            <p><i class="fa-solid fa-phone"></i><a href="tel:05055555555">0212 345 5353</a></p>
                            <p><i class="fa-solid fa-envelope"></i> <a href="mailto:vanelli@gmail.com">vanelli@gmail.com</a></p>
                        </address>
                        <div class="visible-xs-block visible-sm-block pt20"></div>
                    </div><!-- /Contact Info -->
                    <!-- CONTACT FORM -->
                    <div class="col-sm-12 col-md-7">
                            <fieldset>
                            <div class="row">
                                &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;<p><h4>Sizi ofisimiz de ağırlamaktan mutluluk duyarız..
                                </h4></p><br/><br/> <br/> <br/>   
                               
                            </fieldset>
                            <div class="col-sm-12 col-md-5 cinfo">
                              &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;<strong><i class="fa-solid fa-map-marker"></i> Çalışma saatlerimiz:</strong><br/><br/>
                              &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;Pazartesi - Cuma: 08:30 - 18:30<br/><br/>
                              &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;Cumartesi - Pazar: Kapalı
                              
                            </div>
                        </form>
                        <p>&#xA0;</p>
                    </div><!-- /Contact Form -->
                </div><!-- /row -->
            </div><!-- /container -->
        </section><!-- /section -->


{% endblock %}